openapi: '3.0.0'
info:
  version: 1.0.0
  title: HeyFounder API
  license:
    name: MIT
servers:
  - url: https://api.heyfounder.in/v1
paths:
  /startups:
    get:
      summary: List all startups
      operationId: listStartups
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of startups
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Startups'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a startup
      operationId: createStartups
      responses:
        201:
          description: Startup created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /startups/{startupId}:
    get:
      summary: Info for a specific startup
      operationId: showStartupById
      parameters:
        - name: startupId
          in: path
          required: true
          description: The id of the startup to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Startups'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /categories:
    get:
      summary: Retrieve all available startup categories
      operationId: listCategories
      responses:
        200:
          description: List of categories including SaaS, E-commerce, and Mobile App
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Categories'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Startup:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Startups:
      type: array
      items:
        $ref: '#/components/schemas/Startup'
    Categories:
      type: array
      items:
        type: string
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string